.progressbarContainer {
    margin: 20px 0px 0px 0px;
    padding: 2px;
    border-radius: 5px;
    height: 17px;
    border: 2px solid black;
    background-color: grey;
}

.progressbar {
    margin: -2px 0px 0px -2px;
    /*width: calc(35% + 4px);*/
    height: 13px;
    border-radius: 5px;
    background-color: rgb(0, 153, 51);
}