.stopButtonContainer {
    position: relative;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    z-index: 10;
}

.stopButtonContainer > button {
    margin: 0px 10px;
    padding: 20px 10px;
    border-radius: 8px;
    border: 3px solid black;
    /*background-color: rgb(128, 212, 255);*/
    background-color: red;
    font-size: 24px;
    font-weight: 300;
    width: 90%;
    height: 70px;
}