body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    font-size: 24px;
}

h1 {
    margin: -5px;
    padding: 5px;
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

button {
    font-size: 33px;
    font-weight: bold;
}

input {
    margin: 4px 20px 10px 20px;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

label {
    font-size: 30px;
}
