.mainviewContainer {
    position: relative;
    margin: 0px;
    padding: 10px;
    width: auto;
    height: 100vh;
    background-image: url("images/bg_blue_red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.gridContainer_mainviewContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    justify-items: stretch;
}
